@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Ubuntu");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  background: #017143;
}

.payment {
  background: #f8f8f8;
  max-width: 420px;
  margin: 80px auto;
  height: auto;
  padding: 35px;
  padding-top: 70px;
  border-radius: 5px;
  position: relative;
}
.payment h2 {
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 40px;
  color: #017143;
}
.payment h3,
h4 {
  text-align: center;
}
.payment h4 {
  font-size: 1.1em;
}
.form label {
  display: block;
  color: #555555;
  margin: 10px 0;
}
.qty {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 10px 0;
}
input {
  max-width: 100px;
  height: 40px;
  text-align: center;
  border: 2px solid #dddddd;
  border-radius: 5px;
  outline: none;
  color: #555555;
}
.min,
.plus {
  height: 40px;
  padding: 5px 15px;
  border-radius: 5px;
  color: rgba(0, 114, 54, 255);
  background: #eee;
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-weight: 900;
  margin: 0;
}
.form p {
  text-align: center;
}
.card-grp {
  display: flex;
  justify-content: space-between;
}

.card-item {
  width: 48%;
}

.space {
  margin-bottom: 20px;
}

.icon-relative {
  position: relative;
}

.icon-relative .fa-solid {
  position: absolute;
  bottom: 12px;
  left: 15px;
  font-size: 20px;
  color: #555555;
}

.pay {
  margin-top: 40px;
  background: #017143;
  padding: 12px;
  text-align: center;
  color: #f8f8f8;
  border-radius: 5px;
  cursor: pointer;
}

.payment-logo {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background: #f8f8f8;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 85px;
}

.payment-logo:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  background: #017143;
  border-radius: 50%;
}

.payment-logo p {
  position: relative;
  color: #f8f8f8;
  font-family: "Baloo Bhaijaan", cursive;
  font-size: 58px;
}

@media screen and (max-width: 420px) {
  .card-grp {
    flex-direction: column;
  }
  .card-item {
    width: 100%;
    margin-bottom: 20px;
  }
  .btn {
    margin-top: 20px;
  }
  .modalP {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modal-contentP {
    background-color: #017143;
    margin: auto;
    padding: 50px 20px;
    border: 1px solid #888;
    width: 100%;
    min-height: 100vh;
    margin-top: 0;
  }
  .payment {
    background: #f8f8f8;
    max-width: 420px;
    margin: 20px auto;
    height: auto;
    padding: 35px;
    padding-top: 70px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 10px;
  }
  .payment h2 {
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: #017143;
  }
  .payment h3,
  h4 {
    text-align: center;
  }
  .payment h4 {
    font-size: 1em;
  }
  .form label {
    display: block;
    color: #555555;
    margin: 10px 0;
  }
  .qty {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 10px 0;
  }
  input {
    max-width: 100px;
    height: 40px;
    text-align: center;
    border: 2px solid #dddddd;
    border-radius: 5px;
    outline: none;
    color: #555555;
  }
  .min,
  .plus {
    height: 40px;
    padding: 5px 15px;
    border-radius: 5px;
    color: rgba(0, 114, 54, 255);
    background: #eee;
    border: 2px solid rgba(0, 0, 0, 0.1);
    font-weight: 900;
    margin: 0;
  }
  .form p {
    text-align: center;
  }
  .card-grp {
    display: flex;
    justify-content: space-between;
  }

  .card-item {
    width: 48%;
  }

  .space {
    margin-bottom: 20px;
  }

  .icon-relative {
    position: relative;
  }

  .icon-relative .fa-solid {
    position: absolute;
    bottom: 12px;
    left: 15px;
    font-size: 20px;
    color: #555555;
  }

  .pay {
    margin-top: 20px;
    background: #017143;
    padding: 12px;
    text-align: center;
    color: #f8f8f8;
    border-radius: 5px;
    cursor: pointer;
  }

  .payment-logo {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background: #f8f8f8;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 85px;
  }

  .payment-logo:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 90px;
    height: 90px;
    background: #017143;
    border-radius: 50%;
  }

  .payment-logo p {
    position: relative;
    color: #f8f8f8;
    font-family: "Baloo Bhaijaan", cursive;
    font-size: 58px;
  }
  .closeP {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 32px;
    font-weight: bold;
  }
  
  .closeP:hover,
  .closeP:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }  
}
