@import url("https://fonts.googleapis.com/css2?family=Poppins: 100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #333;
}
.card {
  position: relative;
  width: 350px;
  height: 190px;
  background: #017143;
  transition: 0.5s;
}
.card:hover {
  height: 450px;
}
.card .lines {
  position: absolute;
  inset: 0;
  background: #017143;
  overflow: hidden;
}
.card .lines::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 120px;
  background: linear-gradient(
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff,
    transparent
  );
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.card .lines::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #017143;
}
.card .imgBx {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background: #017143;
  transition: 0.5s;
  z-index: 10;
  overflow: hidden;
}
.card:hover .imgBx {
  width: 250px;
  height: 250px;
}
.card .imgBx::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 150px;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    transparent,
    #ff3c7b,
    #ff3c7b,
    #ff3c7b,
    transparent
  );
  animation: animate2 6s linear infinite;
}
@keyframes animate2 {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
.card .imgBx::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #017143;
}
.card .imgBx img {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}
.card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.card .content .details {
  padding: 40px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(150px);
}
.card:hover .content .details {
  transform: translateY(0px);
}
.card .content .details h2 {
  font-size: 1.25em;
  font-weight: 600;
  color: #fff;
  line-height: 1.2em;
}
.card .content .details h2 span {
  font-size: 0.75em;
  font-weight: 500;
  color: #fff;
}
.card .content .details .data {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.card .content .details .data h3 {
  font-size: 1em;
  color: #fff;
  line-height: 1.2em;
  font-weight: 600;
}
.card .content .details .data h3 span {
  font-size: 0.85em;
  font-weight: 400;
  color: #fff;
}
.card .content .details .actionBtn {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.card .content .details .actionBtn button {
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 500;
  background: #fff;
  color: #222;
  cursor: pointer;
  opacity: 0.9;
}

.card .content .details .actionBtn button a {
  color: #222;
  text-decoration: none;
}

.card .content .details .actionBtn button:nth-child(2) {
  background: #fff;
}
.card .content .details .actionBtn button:hover {
  opacity: 1;
}
.modalM {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-contentM {
  background-color: #333;
  margin: 15% auto;
  padding: 10px;
  border: 1px solid #888;
  width: 27.4%;
  margin-top: 10%;
}

@media (max-width: 991px) {
  .card {
    width: 320px;
    height: 150px;
  }
  .card:hover {
    height: 420px;
  }
  .card .imgBx {
    width: 130px;
    height: 130px;
  }
  .card:hover .imgBx {
    width: 230px;
    height: 230px;
  }
  .modalM {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-contentM {
    background-color: #333;
    margin: auto;
    width: 343px;
    margin-top: 20%;
  }
}
@media (max-width: 420px) {
  .card {
    width: 280px;
    height: 140px;
  }
  .card:hover {
    height: 360px;
    margin-top: 50px;
  }
  .card .imgBx {
    width: 130px;
    height: 130px;
  }
  .card:hover .imgBx {
    width: 200px;
    height: 200px;
  }
  .modalM {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modal-contentM {
    background-color: #333;
    margin: auto;
    width: 303px;
    margin-top: 20%;
  }
  /* p */
  .card .content .details h2 {
    font-size: 1.15em;
    font-weight: 600;
    color: #fff;
    line-height: 1.2em;
  }
  .card .content .details h2 span {
    font-size: 0.75em;
    font-weight: 500;
    color: #fff;
  }
  .card .content .details .data {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  .card .content .details .data h3 {
    font-size: 1em;
    color: #fff;
    line-height: 1.2em;
    font-weight: 600;
  }
  .card .content .details .data h3 span {
    font-size: 0.85em;
    font-weight: 400;
    color: #fff;
  }
  .card .content .details .actionBtn {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .card .content .details .actionBtn button {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    background: #fff;
    color: #222;
    cursor: pointer;
    opacity: 0.9;
  }
}
