@import url("https://fonts.googleapis.com/css2?family=Poppins: 100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 56px;
  display: flex;
  align-items: center;
}

header .logo {
  position: relative;
  max-width: 80px;
}
header h4 {
  font-weight: 500;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .textBox {
  position: relative;
  max-width: 600px;
}

.content .textBox h2 {
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}

.content .textBox h2 span {
  color: #017143;
  font-size: 1.2em;
  font-weight: 900;
}

.content .textBox p {
  color: #333;
}

.content .textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #017143;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}

/* button menuju profile */
.goProfile {
  display: inline-block;
  margin-top: 20px;
  padding: 11px 20px;
  background: #017143;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}

.content .imgBox {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 50px;
}

.content .imgBox img {
  max-width: 340px;
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  display: flex;
}

.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}

.thumb li:hover {
  transform: translateY(-15px);
}

.thumb li img {
  max-width: 60px;
}

.sci {
  position: relative;
  top: 80px;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.6);
  filter: invert(1);
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #017143;
  clip-path: circle(600px at right 800px);
}
/* modal profile */
/*  Background Modal */
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* modal payment */
/*  Background Modal */
.modalP {
  display: none;
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-contentP {
  background-color: #017143;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
  margin-top: 0;
}

/* Close Button */
.closeP {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeP:hover,
.closeP:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.card .content .detailss {
  padding: 40px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(165px);
}
.card:hover .content .detailss {
  transform: translateY(0px);
}
.card .content .detailss h2 {
  font-size: 1.25em;
  font-weight: 600;
  color: #fff;
  line-height: 1.2em;
}
.card .content .detailss h2 span {
  font-size: 0.75em;
  font-weight: 500;
  color: #fff;
}
.card .content .detailss .data {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.card .content .detailss .data h3 {
  font-size: 1em;
  color: #fff;
  line-height: 1.2em;
  font-weight: 600;
}
.card .content .detailss .data h3 span {
  font-size: 0.85em;
  font-weight: 400;
  color: #fff;
}
.card .content .detailss .actionBtn {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.card .content .detailss .actionBtn button {
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 500;
  background: #fff;
  color: #222;
  cursor: pointer;
  opacity: 0.9;
}

.card .content .detailss .actionBtn button a {
  color: #222;
  text-decoration: none;
}

.card .content .detailss .actionBtn button:nth-child(2) {
  background: #fff;
}
.card .content .detailss .actionBtn button:hover {
  opacity: 1;
}

/* css mode mobile */
@media (max-width: 991px) {
  header {
    padding: 30px;
  }
  header .logo {
    max-width: 60px;
  }
  section {
    padding: 20px 20px 120px;
  }
  .content {
    flex-direction: column;
    margin-top: 100px;
  }
  .content .textBox h2 {
    font-size: 2.5em;
    margin-bottom: 15px;
  }
  .content .textBox .des-name {
    font-size: 20px;
    width: 300px;
  }
  .content .textBox .des {
    font-size: 17px;
    width: 300px;
  }
  .content .textBox {
    max-width: 100%;
  }
  .content .imgBox {
    max-width: 100%;
    justify-content: center;
  }
  .content .imgBox img {
    max-width: 300px;
  }
  .thumb {
    bottom: 4%;
  }
  .thumb li img {
    max-width: 40px;
  }
  .circle {
    clip-path: circle(400px at center bottom);
  }
  .sci {
    position: absolute;
    background: #017143;
    right: 0;
    top: 89vh;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .sci li a:hover {
    transform: translateY(-10%);
  }
}
a.disable {
  pointer-events: none;
  cursor: default;
}
@media (max-width: 420px) {
  header {
    padding: 20px;
  }
  header .logo {
    max-width: 60px;
  }
  section {
    padding: 20px;
    padding-bottom: 160px;
  }
  .content {
    flex-direction: column;
    margin-top: 80px;
  }
  .content .textBox h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
  }
  .content .textBox .des-name {
    font-size: 14px;
    width: auto;
  }
  .content .textBox .des {
    font-size: 14px;
    width: auto;
  }
  .content .textBox {
    max-width: 100%;
  }
  .content .imgBox {
    width: 500px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
    margin-left: 50px;
  }
  .content .imgBox img {
    max-width: 250px;
  }
  .thumb {
    bottom: 4%;
  }
  .thumb li img {
    max-width: 40px;
  }
  .circle {
    clip-path: circle(400px at center bottom);
  }
  .sci {
    position: absolute;
    background: none;
    right: 10px;
    top: 80vh;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .sci li a {
    filter: invert(0);
  }
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .sci li a:hover {
    transform: translateY(-10%);
  }
  .modalM .card {
    width: 280px;
    height: 120px;
  }
  .modalM .card:hover {
    height: 360px;
    margin-top: 0px;
  }
  .modalM .card .imgBx {
    width: 130px;
    height: 130px;
  }
  .modalM .card:hover .imgBx {
    width: 200px;
    height: 200px;
  }
  .card .content .detailss {
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(165px);
  }
  .card:hover .content .detailss {
    transform: translateY(0px);
  }
  .card .content .detailss h2 {
    font-size: 1.25em;
    font-weight: 600;
    color: #fff;
    line-height: 1.2em;
  }
  .card .content .detailss h2 span {
    font-size: 0.75em;
    font-weight: 500;
    color: #fff;
  }
  .card .content .detailss .data {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  .card .content .detailss .data h3 {
    font-size: 1em;
    color: #fff;
    line-height: 1.2em;
    font-weight: 600;
  }
  .card .content .detailss .data h3 span {
    font-size: 0.85em;
    font-weight: 400;
    color: #fff;
  }
  .card .content .detailss .actionBtn {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .card .content .detailss .actionBtn button {
    padding: 10px 25px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    background: #fff;
    color: #222;
    cursor: pointer;
    opacity: 0.9;
  }
}
